/* .primary{
  color: orange;
}
.font-xl{
  font-size: 72px;
} */

/* .container{
  text-align: center;
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
}
.title{
  color: darkblue;
  font-size: 24px;
} */

